<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive 404 page </title>
</head>

<body>
  <div class="account-pages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="display-2 fw-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
            <h3>Oops, nothing here...</h3>
            <p>Please check the URL</p>
            <p>Otherwise, <a class='btn btn-link' (click)="redirectTo()">Click here</a> to redirect to homepage.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div>
            <img src="assets/images/error-img.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
