<!-- Begin page -->
<div id="layout-wrapper">

  <!-- Topbar -->
  <app-topbar></app-topbar>
  <!-- End of Topbar -->

  <!-- left sidebar-->
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="serverForm" (ngSubmit)="addServer()">
              <div class="checkOs d-none"
                style="position: absolute;left: 0; opacity: 90%;height: 95%;margin: auto;background: #fff;text-align: center;right: 0;z-index: 3;">
                <svg _ngcontent-cev-c121="" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                  enable-background="new 0 0 100 100" xml:space="preserve" style="width: 6%; margin-top: 5%;">
                  <path _ngcontent-cev-c121="" fill="#000" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                                                                     c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
                    <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
                      dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
                    </animateTransform>
                  </path>
                  <path _ngcontent-cev-c121="" fill="#000" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                                                                     c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
                    <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
                      dur="1s" from="0 50 50" to="-360 50 50" repeatCount="indefinite">
                    </animateTransform>
                  </path>
                  <path _ngcontent-cev-c121="" fill="#000" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                                                                     L82,35.7z">
                    <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
                      dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
                    </animateTransform>
                  </path>
                </svg>
                <div class="text-dark mt-3 checkOsTitle">Checking
                  operating system ...</div>
                <div class="checkOsResults">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">Name<span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" required>
                      <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                        <div *ngIf="form['name'].errors form['name'].required">Name is required</div>
                      </div>

                    </div>
                  </div>
                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">IP Address<span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form['ip_address'].errors }"
                        formControlName="ip_address" required>
                      <div *ngIf="submitted && form['ip_address'].errors" class="invalid-feedback">
                        <div *ngIf="form['ip_address'].errors form['ip_address'].required">IP Address is required</div>
                      </div>

                    </div>
                  </div>
                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">Login</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control" formControlName="login">
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="validationCustom01" class="form-label"><a class="text-dark">Port</a></label>
                    <input type="number" class="form-control" formControlName="port">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="mb-3  form-group" formGroupName="categories">
                    <div class="d-flex">
                      <label for="example-text-input" class="col-md-10 col-form-label">Category</label>
                      <div (click)="openModalCategory(addCategoryModal,category)"
                        style="cursor: pointer;font-size: small;">
                        <i class="mdi mdi-plus ms-4"></i>New category
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div *ngIf="CategoriesList.length ===0; else content1">
                        <select class="form-select" formControlName="id">
                          <option class="text-center" disabled> No data to display</option>
                        </select>
                      </div>
                      <ng-template #content1>
                        <select class="form-select" formControlName="id">
                          <option *ngFor="let category of CategoriesList" value="{{category.id}}">{{category.name}}
                          </option>
                        </select>
                      </ng-template>
                    </div>
                  </div>

                  <div class="mb-3 row form-group" formGroupName="providers">
                    <div class="d-flex">
                      <label for="example-text-input" class="col-md-10 me-1 col-form-label">Provider</label>
                      <div (click)="openModalProvider(addProviderModal,provider)"
                        style="cursor: pointer;font-size: small;">
                        <i class="mdi mdi-plus ms-4"></i>New provider
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div *ngIf="ProvidersList.length ===0; else content2">
                        <select class="form-select" formControlName="id">
                          <option class="text-center" disabled> No data to display</option>
                        </select>

                      </div>
                      <ng-template #content2>
                        <select class="form-select" formControlName="id">
                          <option *ngFor="let provider of ProvidersList" value="{{provider.id}}">{{provider.name}}
                          </option>
                        </select>

                      </ng-template>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="example-text-input" class="col-md-4 col-form-label">Password</label>
                    <div class="col-md-12">
                      <div class="input-group auth-pass-inputgroup">
                        <input type="password" class="form-control" formControlName="password" aria-label="Password"
                          aria-describedby="password-addon">
                        <button class="btn btn-light " type="button" id="password-addon"><i
                            class="mdi mdi-eye-outline"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-2 justify-content-end">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Add</button>
                <button type="button" class="btn btn-secondary waves-effect waves-light"
                  routerLink="/servers">Cancel</button>
              </div>
            </form>
            <ng-template #addCategoryModal>
              <div class="modal-header">
                <h6 class="modal-title" id="assignServerLabel">Add New Category</h6>
                <button type="button" class="btn-close" (click)="onSubmit()" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="CategoryFormAdd" (ngSubmit)="addCategory()">
                  <label for="example-text-input" class="col-6 col-form-label">Name<span
                      class="required-asterisk">*</span></label>
                  <input type="text" class="form-control mb-3" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted1 && categoryForm['name'].errors }" required>
                  <div *ngIf="submitted1 && categoryForm['name'].errors" class="invalid-feedback">
                    <div *ngIf="categoryForm['name'].errors categoryForm['name'].required">Name is required</div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Save Changes</button>
                    <button type="button" (click)="onSubmit()" class="btn btn-outline-secondary">Close</button>
                  </div>
                </form>
              </div>
            </ng-template>

            <ng-template #addProviderModal>
              <div class="modal-header">
                <h6 class="modal-title" id="assignServerLabel">Add New Provider</h6>
                <button type="button" class="btn-close" (click)="onSubmit()" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="ProviderFormAdd" (ngSubmit)="addProvider()">
                  <div class="row mb-3">
                    <label for="example-text-input" class="col-6 col-form-label">Name<span
                        class="required-asterisk">*</span></label>
                    <div class="col-12">
                      <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted2 && providerForm['name'].errors }" required>
                      <div *ngIf="submitted2 && providerForm['name'].errors" class="invalid-feedback">
                        <div *ngIf="providerForm['name'].errors providerForm['name'].required">Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-6 col-form-label">Category</label>
                    <div class="col-12 mb-3" formGroupName="categories">
                      <div *ngIf="CategoriesList.length ===0; else content2">
                        <select class="form-select" formControlName="id">
                          <option class="text-center" disabled> No data to display</option>
                        </select>

                      </div>
                      <ng-template #content2>
                        <select class="form-select" formControlName="id">
                          <option *ngFor="let category of CategoriesList" value="{{category.id}}">{{category.name}}
                          </option>
                        </select>

                      </ng-template>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-secondary">Save Changes</button>
                      <button type="button" (click)="onSubmit()" class="btn btn-outline-secondary">Close</button>
                    </div>
                  </div>

                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
