<!-- Begin page -->
<div id="layout-wrapper">

  <!-- Topbar -->
  <app-topbar></app-topbar>
  <!-- End of Topbar -->

  <!-- left sidebar-->
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->

        <!-- end page title -->
        <div class="card">
          <div class="card-body">
            <form [formGroup]="groupForm" (ngSubmit)="addGroup()">
              <div class="row">
                <div class="col-sm-6">

                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">Name<span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" formControlName="name" required>
                      <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                        <div *ngIf="form['name'].errors form['name'].required">Name is required</div>
                      </div>

                    </div>
                  </div>
                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">Start date<span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <input type="date" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form['start_date'].errors }"
                        formControlName="start_date" required>
                      <div *ngIf="submitted && form['start_date'].errors" class="invalid-feedback">
                        <div *ngIf="form['start_date'].errors form['start_date'].required">Start date is required</div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="mb-3 ">
                    <label for="example-text-input" class="col-md-4 col-form-label">Status<span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <select class="form-select" formControlName="status"
                        [ngClass]="{ 'is-invalid': submitted && form['status'].errors }" required>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                        <option value="3">In progress</option>
                      </select>
                      <div *ngIf="submitted && form['status'].errors" class="invalid-feedback">
                        <div *ngIf="form['status'].errors form['status'].required">Status is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3  form-group" formGroupName="categories">
                    <div class="d-flex">
                      <label for="example-text-input" class="col-md-10 col-form-label me-4">Category</label>
                      <div (click)="openModalCategory(addCategoryModal,category)"
                        style="cursor: pointer;font-size: small;">
                        <i class="mdi mdi-plus"></i>New category
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div *ngIf="CategoriesList.length ===0; else content1">
                        <select class="form-select" formControlName="id">
                          <option class="text-center" disabled> No data to display</option>
                        </select>
                      </div>
                      <ng-template #content1>
                        <select class="form-select" formControlName="id">
                          <option *ngFor="let category of CategoriesList" value="{{category.id}}">{{category.name}}
                          </option>
                        </select>
                        <div *ngIf="submitted && form['categories'].get('id')?.errors" class="invalid-feedback">
                          <div *ngIf="form['categories'].get('id')?.errors form['id'].required">Caregory is required
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-2 justify-content-end">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Add</button>
                <button type="button" class="btn btn-secondary waves-effect waves-light"
                  routerLink="/groups">Cancel</button>
              </div>
            </form>

            <ng-template #addCategoryModal>
              <div class="modal-header">
                <h6 class="modal-title" id="assignServerLabel">Add new category</h6>
                <button type="button" class="btn-close" (click)="onSubmit()" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="CategoryFormAdd" (ngSubmit)="addCategory()">
                  <label for="example-text-input" class="col-6 col-form-label">Name<span
                      class="required-asterisk">*</span></label>
                  <input type="text" class="form-control mb-3" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted1 && categoryForm['name'].errors }" required>
                  <div *ngIf="submitted1 && categoryForm['name'].errors" class="invalid-feedback">
                    <div *ngIf="categoryForm['name'].errors categoryForm['name'].required">Name is required</div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Save changes</button>
                    <button type="button" (click)="onSubmit()" class="btn btn-outline-secondary">Close</button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
