<div class="right-bar">
  <div data-simplebar class="h-100">
    <div class="rightbar-title d-flex align-items-center px-3 py-4">
      <h5 class="m-0 me-2">Notes</h5>
      <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
        <i class="mdi mdi-close noti-icon"></i>
      </a>
    </div>
    <hr class="mt-0" />
    <div class="p-4">
      <input type="text" class="form-control" id="validationCustom01" placeholder="notes" required>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<div class="rightbar-overlay"></div>
